body{
	font-family: 'Georgia', Serif;
	color: #f25f5c;
	background-color: #50514f;
	text-align: center;
}



button{
	background-color: #ffe066;
	width: 100px;
	height: 50px;
	border-color: none;
	border-radius: 5px; 
	font-size: 12px;
	margin-right: 5px; 
	
 }



button:hover{
	background-color: #247ba0;
}

.button-class{

	text-align: center;
	display: flex;
  	align-items: center;
  	justify-content: center;

}